__pycache__/
*.py[cod]

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.venv/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

.idea/

*.log

