include MANIFEST.in

include CODEOWNERS
include LICENSE
include README.md

include codecov.yml
include tox.ini

graft graphql

global-exclude tests/*
recursive-exclude tests *

global-exclude *.py[co] __pycache__